@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flatpickr/dist/themes/material_blue.css';  /*flatpickr fechas*/


@font-face {
	font-family: Inter;
	font-weight: 600;
	src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
	font-family: Inter;
	font-weight: 700;
	src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
	font-family: Inter;
	font-weight: 400;
	src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
	font-family: Inter;
	font-weight: 300;
	src: url(../fonts/Inter-Light.ttf);
}

/*dashboard*/
.sidebar-nabvar  a > svg {

  @apply h-6 w-6 ;

}

.blur{
	backdrop-filter: blur(12px);
	background: #7575759c;
}
.form-input:focus,
.form-select:focus
 {
	outline: none;
	box-shadow: 0 0 0 2px #cbd5e085;
	border-color:  #e2e8f0;

}